.FooterListBox{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}


.FooterListBox > ul{
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    .FooterList{
        width: 48px;
        background: #E3E6EC;
        box-shadow: 28.6154px 28.6154px 31.7949px #D1D9E6, -28.6154px -28.6154px 31.7949px rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            img{
                width: 24px;
            }
        }
    }
    .FooterList + .FooterList{
        margin-left: 40px;
    }
}
.FooterText{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}